<navbar></navbar>
<div class="container page_container">
  <div class="align-field">

    <div class="row justify-content-center">

      <div class="col-md-8">

        <h1 class="h3 mb-3 font-weight-normal">Orders History</h1>

        <div class="table-responsive">
          <table class="table table-hover ">
            <thead>
            <tr>
              <th>Order</th>
              <th>Total</th>
              <th>Address</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody id="table-body">

            <tr ng-repeat="order in $ctrl.orders">
              <th>#{{order.order}}</th>
              <td>{{order.priceCripto}}</td>
              <td>{{order.address}}</td>
              <td>{{order.status}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<footersite></footersite>
