<navbar></navbar>
<div class="container page_container">
  <div class="col-sm-12">
    <div>
      <h1> {{ $ctrl.list.name }}</h1>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="img">
          <img src="http://placehold.it/900x350" class="card-img-top" alt="Produto {{ prod }}">
        </div>
      </div>
      <div class="col-sm-7">
        <ul class="list-unstyled">
          <li>
            <b>Descrição:</b>
            <span>  {{ $ctrl.list.description }}</span>
          </li>
          <li>
            <b>Código do produto:</b>
            <span>  {{ $ctrl.list.id }}</span>
          </li>
          <li>
            <b>Valor</b>
            <span> {{ $ctrl.list.value }} </span>
          </li>
          <li></li>
          <li></li>
        </ul>

        <a id="btn-addCart" class="btn btn-primary" ui-sref="cart({id: $ctrl.list.id})">Comprar</a>

      </div>
    </div>
  </div>
</div>
<footersite></footersite>
